
@media all and (max-width: 1170px) {
	.textOverlay {
		top: -10px;
		position: fixed;
	}
}

@media all and (max-width: 1020px) {
	.textOverlay {
		h2 {
			font-size: 2.2em;
		}

		.headerSubhead {
			font-size: 18px;
		}

	}
}